<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/javascripts/angular/angular.min.js"></script>
    <script src="/javascripts/angular-animate/angular-animate.min.js"></script>
    <script src="javascripts/jquery/dist/jquery.min.js"></script>
    <script src="stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="javascripts/app.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Tyrex Cost Compare</title>
</head>
<body>


   <!--******************* Accordian begins here ********************-->
   <div ng-controller="FormController">

       <header class="header">
           <div class="behindTitleDiv">
               <h1 class="overallTitle">Healthcare Infection Costs</h1>
               <h4 class="currencySelector"><!--<a href="">$</a><a href="">£</a> --><a href="">€</a></h4>
           </div>
       </header>
        <div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">1st Results</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
            <!--**************** Text begins in accordian *****************-->


                                <form>
                                    <h5>Tyrx Cost: <input type="number" ng-model="tyrxPrice" class="regularInputsNotPercents" placeholder="€1292"> </h5>
                                    <h3 class="tableTitle">Enter your hospital's data</h3>
                                    <div class="tableAndSubmitButton">


                                        <div class="titlesForColumns">
                                            <div class="columnTitle rowSections column1">&nbsp;</div>
                                            <div class="columnTitle rowSections paceMaker">PM</div>
                                            <div class="columnTitle rowSections crtp">CRT-P</div>
                                            <div class="columnTitle rowSections icd">ICD</div>
                                            <div class="columnTitle rowSections crtd">CRT-D</div>
                                        </div>


                                        <div class="tableAllOne">
                                            <div class="tableRow clearfix">
                                                <div class="row1 ">
                                                    <div class="rowTitle rowSections column1"># of Implants</div>
                                                    <div class="inputBoxes1">
                                                        <div class="rowSections paceMaker"> <input ng-hide="hideAndShowBox" ng-model="PMNumImplantsInput" type="number" class="regularInputsNotPercents"><span class="spanWidth" ng-click="editInputs()" ng-hide="inputBoxHide">{{PMNumImplants}}</span></div>
                                                        <div class="rowSections crtp"> <input ng-hide="hideAndShowBox" type="number" ng-model="CRTPNumImplantsInput" class="regularInputsNotPercents"><span class="spanWidth" ng-click="editInputs()" ng-hide="inputBoxHide">{{CRTPNumImplants}}</span></div>
                                                        <div class="rowSections icd"> <input ng-hide="hideAndShowBox" type="number" ng-model="ICDNumImplantsInput" class="regularInputsNotPercents"><span class="spanWidth" ng-click="editInputs()" ng-hide="inputBoxHide">{{ICDNumImplants}}</span></div>
                                                        <div class="rowSections crtd"> <input ng-hide="hideAndShowBox" type="number" ng-model="CRTDNumImplantsInput" class="regularInputsNotPercents"><span class="spanWidth" ng-click="editInputs()" ng-hide="inputBoxHide">{{CRTDNumImplants}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tableRow clearfix">
                                            <div class="rowTitle column1">Device cost</div>
                                            <div class="inputBoxes2">
                                                <div class="rowSections paceMaker"> <input type="number" placeholder="€2,150" ng-hide="hideAndShowBox" ng-model="PMCostInput" class="regularInputsNotPercents"><span class="spanWidth" ng-click="editInputs()" ng-hide="inputBoxHide">{{PMCost}}</span></div>
                                                <div class="rowSections crtp"> <input type="number" placeholder="€4,500" ng-hide="hideAndShowBox" ng-model="CRTPCostInput" class="regularInputsNotPercents"><span class="spanWidth" ng-click="editInputs()" ng-hide="inputBoxHide">{{CRTPCost}}</span></div>
                                                <div class="rowSections icd"> <input type="number" placeholder="€8,000" ng-hide="hideAndShowBox" ng-model="ICDCostInput" class="regularInputsNotPercents"><span class="spanWidth" ng-click="editInputs()" ng-hide="inputBoxHide">{{ICDCost}}</span></div>
                                                <div class="rowSections crtd"> <input type="number" placeholder="€12,400" ng-hide="hideAndShowBox" ng-model="CRTDCostInput" class="regularInputsNotPercents"><span class="spanWidth" ng-click="editInputs()" ng-hide="inputBoxHide">{{CRTDCost}}</span></div>
                                            </div>
                                        </div>


                                        <div class="percentagesContainer">
                                            <div class="changePercentages">
                                                <span  ng-model="potentialHighRisk">
                                                    <span class="percentagesHover" ng-hide="hidePercentage"  ng-click="changePotentialHighRisk()">Change % of potential high risk:
                                                    <input class="percentageChangeInput" ng-model="updatePotentialHighRisk" placeholder="40" type="number"> <span ng-hide="hidePercentageValues"> {{placeNewPotentialHighRisk}}</span>%</span>
                                                   <lable ng-show="showHighRiskInput">Change % of potential high risk </lable>
                                                    <input type="number" class="percentageChangeInput" ng-model="updatePotentialHighRisk" ng-show="showHighRiskInput">
                                                    <input type="submit" class="submitPercentages" ng-show="showHighRiskInputButton"  ng-click="submitNewPotentialRisk()">
                                                </span>
                                            </div>
                                            <div class="changePercentages">
                                                <span ng-model="averageInfectionRate">
                                                    <span class="percentagesHover" ng-hide="hideInfectionRate" ng-click="changeAvgInfectionRate()">Change Average Infection Rate:
                                                        <input class="percentageChangeInput" ng-model="updateAvgInfectionRate" placeholder="3.6" type="number">
                                                        <span ng-hide="hidePercentageValues">{{placeNewAvgInfectionRate}}</span>%</span>
                                                   <lable ng-show="showInfectionInput"> Change Average Infection Rate</lable>
                                                    <input type="number" ng-model="updateAvgInfectionRate" ng-show="showInfectionInput" class="percentageChangeInput">
                                                    <input type="submit" class="submitPercentages" ng-show="showInfectionInputButton"  ng-click="submitNewAvgInfectionRate()" >
                                                </span>
                                            </div>
                                        </div>

                                        <div class="submitButton">
                                            <button ng-click="submitData()">Submit</button>
                                            <!--<input type="submit" ng-click="submitData()">-->
                                        </div>
                                    </div>


                                </form>

                                <ul ng-show="showFirstTotals" class="fade there" >
                                    <!--ng-if="bool"-->
                                    <li>Total # Implants: {{totalNumImplants}}</li>
                                    <li>Total Average Device System Cost: €{{totalDevicesCost}}</li>
                                </ul>


                                <div class="totalPotentials fade1 there" ng-show="showTotalPotentials" >
                                    <!--ng-if="bool"-->
                                    <ul>
                                        <h3>Total potential # of High Risk Patients</h3>
                                        <li>PM: {{PMPotentialHighRisk}}</li>
                                        <li>CRTP: {{CRTPPotentialHighRisk}}</li>
                                        <li>ICD: {{ICDPotentialHighRisk}}</li>
                                        <li>CRTD: {{CRTDPotentialHighRisk}}</li>
                                        <li><b>Total: {{TotalPotentialHighRisk}}</b></li>
                                    </ul>
                                </div>

                                <div class="totalAvgRisk fade2 there" ng-show="showAvgRelatedInfection" >
                                    <!--ng-if="bool"-->
                                    <ul>
                                        <h3>Device Related Infections</h3>
                                        <li>PM: {{(PMDeviceInfection).toFixed(2)}}</li>
                                        <li>CRTP: {{(CRTPDeviceInfection).toFixed(2)}}</li>
                                        <li>ICD: {{(ICDDeviceInfection).toFixed(2)}}</li>
                                        <li>CRTD: {{(CRTDDeviceInfection).toFixed(2)}}</li>
                                        <li><b>Total: {{TotalAverageInfectionRate}}</b></li>
                                    </ul>
                                </div>




                        </div>
                    </div>
                </div>
            <!--******************** Accordian 1 ENDs here ******************-->





    <!--****************************  START PAGE TWO  ******************************************************-->
    <!--****************************  START PAGE TWO  ******************************************************-->
    <!--****************************  START PAGE TWO  ******************************************************-->

                    <!--******************* Accordian 2 begins here ********************-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Costs</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="totalInfectionCostWithoutTyrx">
                                <h3>Potential Cost of Infection without TYRX</h3>
                                <p> <b>€{{TotalCostInfectionWithoutTyrx}}</b></p>
                            </div>



                            <div class="totalCostWithTyrx">
                                <h3>Potential Cost With TYRX</h3>
                                <h5>Potential cost of infections in high risk patients: <b>€{{costInfectionWithTyrx}}</b></h5>
                                <h5>Potential cost of TYRX in high risk patients: <b>€{{costOfTYRXInHighRiskPatients}}</b></h5>
                                <h5>Potential cost of infections and Tyrx in high risk patients	<b>€{{totalCostInfectionAndTyrex}}</b></h5>
                            </div>


                            <div class="costDiff">
                                <h3>Difference in Prices</h3>
                                <h5>Potential Economic Impact to hospital <b>€<span ng-class="{true: 'negativeMoney', false: 'positiveMoney'}" class="makeLossRed">{{economicImpact}}</span></b></h5>
                                <h5>Potential Risk of Patient Mortality (w/out TYRX): <b>{{PatientMortality}}</b></h5>
                                <p class="mortalityRisk"><i>50% Risk at 3yrs/infection</i></p>
                            </div>


                            <div class="InfectionCostDistribution">
                                <h3>Infection Cost Distribution Example</h3>
                                <div class="perItemsCost">
                                    <ul class="perCostList">
                                        <li class="headingListItem"><b>Items</b></li>
                                        <li>Bed Occupancy</li>
                                        <li>Device Extraction</li>
                                        <li>Device Replacement</li>
                                        <li>Antibiotics</li>
                                        <li class="lineAbove">Total</li>
                                    </ul>
                                </div>


                                <!--<div class="costPerPatient">-->
                                    <!--<ul class="costPerPatientList">-->
                                        <!--<li class="headingListItem"><b>Cost Per Patient</b></li>-->
                                        <!--<li>€{{patientBedCost}}</li>-->
                                        <!--<li>€{{deviceExtractionCost}}</li>-->
                                        <!--<li>€{{deviceReplacementCost}}</li>-->
                                        <!--<li>€{{antibioticsCost}}</li>-->
                                        <!--<li class="lineAbove">€{{totalCostsExample}}</li>-->
                                    <!--</ul>-->
                                <!--</div>-->


                                <div class="potentialCostDist">
                                    <ul class="potentialCostDistList">
                                        <li class="headingListItem"><b>Potential Cost Dist.</b></li>
                                        <li>€{{PotentialDistBed}}</li>
                                        <li>€{{potentialDistDeviceExtraction}}</li>
                                        <li>€{{potentialDistDeviceReplacement}}</li>
                                        <li>€{{potentialCostDistAntibiotics}}</li>

                                        <li class="lineAbove">€{{totalPotentialCostDist}}</li>
                                    </ul>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                    <!--******************** Accordian 2 ENDs here ******************-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Notes</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="notes">
                                <p>*Costs of infection are based on a UK analysis of 30 infections and did NOT capture all costs (eg imaging, out-patient costs)</p>
                                <p> *Cost of infection includes device replacement costs, which are a customized input in this model (NOT from Ahsan 2014 study)</p>
                                <p>*Must display currency rates and dates, based on October 21, 2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




                 <!--<div class="DataTable">-->
                    <!--<div class="tableRow clearfix columnTitles">-->
                        <!--<div class="columnTitle column1">&nbsp;</div>-->
                        <!--<div class="titlesForColumns">-->
                            <!--<div class="columnTitle paceMaker">PM</div>-->
                            <!--<div class="columnTitle crtp">CRT-P</div>-->
                            <!--<div class="columnTitle icd">ICD</div>-->
                            <!--<div class="columnTitle crtd">CRT-D</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="tableRow clearfix">-->
                        <!--<div class="tableAllOne">-->
                            <!--<div class="rowTitle rowSections column1"># of Implants</div>-->
                            <!--<div class="inputBoxes1">-->
                                <!--<div class="rowSections paceMaker"> <input ng-hide="hideAndShowBox" ng-model="PMNumImplantsInput" type="text">{{PMNumImplants}}</div>-->
                                <!--<div class="rowSections crtp"> <input ng-hide="hideAndShowBox" type="text" ng-model="CRTPNumImplantsInput">{{CRTPNumImplants}}</div>-->
                                <!--<div class="rowSections icd"> <input ng-hide="hideAndShowBox" type="text" ng-model="ICDNumImplantsInput">{{ICDNumImplants}}</div>-->
                                <!--<div class="rowSections crtd"> <input ng-hide="hideAndShowBox" type="text" ng-model="CRTDNumImplantsInput">{{CRTDNumImplants}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="tableRow clearfix">-->
                        <!--<div class="rowTitle column1">Device cost</div>-->
                        <!--<div class="inputBoxes2">-->
                            <!--<div class="rowSections paceMaker"> <input type="text" placeholder="€2,150" ng-hide="hideAndShowBox" ng-model="PMCostInput">{{PMCost}}</div>-->
                            <!--<div class="rowSections crtp"> <input type="text" placeholder="€4,500" ng-hide="hideAndShowBox" ng-model="CRTPCostInput">{{CRTPCost}}</div>-->
                            <!--<div class="rowSections icd"> <input type="text" placeholder="€8,000" ng-hide="hideAndShowBox" ng-model="ICDCostInput">{{ICDCost}}</div>-->
                            <!--<div class="rowSections crtd"> <input type="text" placeholder="€12,400" ng-hide="hideAndShowBox" ng-model="CRTDCostInput">{{CRTDCost}}</div>-->
                        <!--</div>-->


                         <!--</div>-->
                    <!--</div>-->


    </div> <!-- Closing out the Angular Controller for the first part -->





</div>
</body>
</html>