body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.header {
  padding-bottom: 20px;
}

a {
  color: #00B7FF;
}

.overallTitle{
  text-align:center;
}

.currencySelector{
  text-align:center;
}

.tableTitle{
  text-align:center;
}



.tableAndSubmitButton{
  /*margin: 0 auto;*/
  /*width: 50%;*/

}

table .center {
}

.submitButton{
  text-align: center;
  position: relative;
  left: 150px;
}

.changePercentages{
  position:relative;
  left:-70px;
  text-align: center;
}

.fade.ng-enter {
  transition:1s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.there{
  opacity:1;
  text-align: center;
}

.fade1.ng-enter {
  transition:2.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade1.ng-enter.ng-enter-active {
  opacity:1;
}

.fade2.ng-enter {
  transition:4s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade2.ng-enter.ng-enter-active {
  opacity:1;
}

li {
  list-style: none;
}

.rowTitle {
  font-weight: bold;

}

th, td {
  margin-right: 3px;
}

.totalPotentials{

}

.percentagesHover:hover{
  color: #0000b7;
  cursor: pointer;
}

input[type="number"] {
  width: 72px;

}














/*.inputDataTable, th, td {*/
/*border: 1px solid black;*/
/*border-collapse: collapse;*/
/*border-spacing: 2px;*/
/*}*/

/*.tableAndSubmitButton{*/
/*}*/

/*.inputDataTable{*/

/*}*/

/*.DataTable{*/

/*}*/
/*.column1 {*/
/*width: 10%;*/
/*float: left;*/
/*margin-right: 1px;*/
/*}*/

/*.paceMaker{*/
/*width: 5%;*/
/*}*/

/*.crtp {*/
/*width: 5%;*/
/*}*/

/*.icd{*/
/*width: 5%;*/
/*}*/

/*.crtd{*/
/*width: 5%;*/
/*}*/

/*.inputBoxes1{*/
/*padding-left: 20px;*/
/*}*/

/*.inputBoxes2{*/
/*}*/

/*.submitButton{*/
/*}*/

/*.rowSections{*/
/*display: inline;*/
  /*width: 10%;*/
/*}*/

/*th  {*/
/*text-align: center;*/
/*}*/

/*.titlesForColumns{*/
  /*padding-left: 50px;*/
/*}*/

/*.tableRow{*/
/*padding: 7px;*/
/*}*/
/*.columnTitles{*/

/*}*/

/*.columnTitle{*/
  /*float:left;*/
  /*margin-left:5px;*/
/*}*/

