body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  background-color: rgba(0, 80, 183, 0.77);
  width: 100%;
  z-index: 1;
  height: 125px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow:  5px 5px 11px #000e2b;
}

a {
  color: #00B7FF;
}

.behindTitleDiv{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(14, 14, 14, 0.58);
  padding-bottom: 13px;
  position: relative;
  top: 18px;
  border-radius: 7px;
  box-shadow: 3px 2px 5px;
}

.overallTitle{
  text-align: center;
  position: relative;
  top: 21px;
  color: white;
}

.currencySelector{
  text-align:center;
  position: relative;
  top: 14px;
}

.tableTitle{
  text-align:center;

}





.tableAndSubmitButton{
}

.inputDataTable{

}

.DataTable{

}
.column1 {
  width: 15%;
  float: left;
  margin-right: 35px;
}

.paceMaker{
  width: 15%;
}

.crtp {
  width: 15%;
}

.icd{
  width: 15%;
}

.crtd{
  width: 15%;
}

.inputBoxes1{
}

.inputBoxes2{
}


.rowSections{
  display: inline;

}

.row1{
  display: block;
  clear: both;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*th  {*/
  /*text-align: center;*/
/*}*/

.titlesForColumns{
  /*padding-left: 50px;*/
}

.tableRow{
  padding: 7px;
}
.columnTitles{

}

.columnTitle{
  float:left;
  margin-left:3px;
}


.spanWidth{
  width:15%;
  display:block;
  float:left;

}






.tableAndSubmitButton{
  margin: 0 auto;
  width: 50%;

}

table .center {
}

.submitButton{
  text-align: center;
  float: right;
  /*position: relative;*/
  /*left: 150px;*/
}

.changePercentages{
  padding-top:4px;
  text-align: center;
}

/*.fade.ng-enter {*/
  /*transition:1s linear all;*/
  /*opacity:0;*/
/*}*/

/*/!* The finishing CSS styles for the enter animation *!/*/
/*.fade.ng-enter.ng-enter-active {*/
  /*opacity:1;*/
/*}*/


.percentageChangeInput{

}

/*.there{*/
  /*opacity:1;*/
  /*text-align: center;*/
/*}*/

/*.fade1.ng-enter {*/
  /*transition:2.5s linear all;*/
  /*opacity:0;*/
/*}*/

/*/!* The finishing CSS styles for the enter animation *!/*/
/*.fade1.ng-enter.ng-enter-active {*/
  /*opacity:1;*/
/*}*/

/*.fade2.ng-enter {*/
  /*transition:4s linear all;*/
  /*opacity:0;*/
/*}*/

/*/!* The finishing CSS styles for the enter animation *!/*/
/*.fade2.ng-enter.ng-enter-active {*/
  /*opacity:1;*/
/*}*/

li {
  list-style: none;
}

.rowTitle {
  font-weight: bold;

}

/*th, td {*/
  /*margin-right: 3px;*/
/*}*/

.totalPotentials{

}

.percentagesContainer{
  margin-top: 10px;
}

.percentagesHover{
  position: relative;
  left: -65px;
}

.submitPercentages{
  position: relative;
  left: -50px;
}

.percentagesHover:hover{
  color: #0000b7;
  cursor: pointer;
}



input.regularInputsNotPercents[type="number"] {
  /*width: 72px;*/
  width: 15%;

}

.percentageChangeInput{
  width:45px;
}

.panel-heading {
  background: #F5F5F5;
  box-shadow: 10px 3px 3px 3px #888;
  height: 40px;
  position: relative;
  padding: .5em .5em .5em .7em;
  display: block;
}

.panel-group .panel {
  background-color: rgb(244, 244, 249);
}


.panel-group{
  box-shadow: -8px 5px 15px rgba(39, 57, 96, 0.35);
}

.panel-body{
  border: none;
}

.totalInfectionCostWithoutTyrx{

}

.mortalityRisk{
  padding-left: 20px;
  font-size: 11px;
}

.perItemsCost{
  float: left;
}

.costPerPatient{
  float:left;
}

.potentialCostDist{
  float:left;
  margin-left: 15px;
}

.lineAbove{
  border-top: 1px solid #000000;
}

.InfectionCostDistribution, .totalCostWithTyrx, .costDiff{
  padding-top: 5px;

}

.makeLossRed{
  color:red;
}

.perCostList, .costPerPatientList, .potentialCostDistList {
  padding-left: 8px;
}

.headingListItem{
  border: 1px solid #000000;
  padding: 2px;
}


@media screen and (min-width: 300px) and (max-width: 630px) {

  .tableAndSubmitButton{
    margin: 0 auto;
    width: 100%;
  }

  .percentagesContainer{
    margin-bottom: 15px;
  }

  .percentagesHover {
    position: relative;
    left: -10px;
    margin-bottom: 15px;
  }

  .submitButton{
    position: relative;
    /*left: */
  }


@media screen and (max-width: 980px) {

}







