

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(2, 2, 29, 0.19);
  position: relative;
  top: -20px;
}

.header {
  /*background-color: rgba(0, 80, 183, 0.77);*/
  background-color: rgba(8, 21, 68, 0.87);
  width: 100%;
  z-index: 1;
  height: 139px;
  /*border-radius: 10px;*/
  margin-bottom: 13px;
  /*box-shadow:  5px 5px 11px #000e2b;*/
}

a {
  color: #00B7FF;
}

.container{
  padding: 5px 10px;
}

.behindTitleDiv{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(14, 14, 14, 0.58);
  padding-bottom: 13px;
  position: relative;
  top: 16px;
  /* border-radius: 7px; */
  box-shadow: inset 0px 11px 6px -11px #CCC, inset 0px -8px 11px -10px #CCC;
}

.overallTitle{
  text-align: center;
  position: relative;
  top: 21px;
  color: white;
}

.currencySelector{
  text-align:center;
  position: relative;
  top: 14px;
}

.tableTitle{
  text-align:center;

}

.tableAndSubmitButton{
  margin: 0 auto;
  width: 75%;

}

.column1 {
  width: 15%;
  float: left;
  margin-right: 35px;
}

.paceMaker{
  width: 15%;
}

.crtp {
  width: 15%;
}

.icd{
  width: 15%;
}

.crtd{
  width: 15%;
}

.rowSections{
  display: inline;

}

.row1{
  display: block;
  clear: both;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tableRow{
  padding: 7px;
}

.columnTitle{
  float:left;
  margin-left:3px;
}

.spanWidth{
  width:15%;
  display:block;
  float:left;
}

table .center {
}

.submitButton{
  text-align: center;
  float: right;
  position: relative;
  right: 109px;
}

.changePercentages{
  padding-top:4px;
  text-align: center;
}

.percentageChangeInput{

}

li {
  list-style: none;
}

.rowTitle {
  font-weight: bold;

}

/*th, td {*/
  /*margin-right: 3px;*/
/*}*/

.totalPotentials{

}

.percentagesContainer{
  margin-top: 10px;
}

.percentagesHover{
  position: relative;
  left: -65px;
}

.submitPercentages{
  position: relative;
  left: -50px;
}

.percentagesHover:hover{
  color: #0000b7;
  cursor: pointer;
}



input.regularInputsNotPercents[type="number"] {
  /*width: 72px;*/
  width: 15%;

}

.percentageChangeInput{
  width:45px;
}

.panel-heading {
  background: #F5F5F5;
  box-shadow: 10px 3px 3px 3px #888;
  height: 40px;
  position: relative;
  padding: .5em .5em .5em .7em;
  display: block;
}

.panel-group .panel {
  background-color: rgb(244, 244, 249);
}


.panel-group{
  box-shadow: -8px 5px 15px rgba(39, 57, 96, 0.35);
}

.panel-body{
  border: none;
}

.totalInfectionCostWithoutTyrx{

}

.mortalityRisk{
  padding-left: 20px;
  font-size: 11px;
}

.perItemsCost{
  float: left;
}

.costPerPatient{
  float:left;
}

.potentialCostDist{
  float:left;
  margin-left: 15px;
}

.lineAbove{
  border-top: 1px solid #000000;
}

.InfectionCostDistribution, .totalCostWithTyrx, .costDiff{
  padding-top: 5px;

}

.makeLossRed{
  color:red;
}

.perCostList, .costPerPatientList, .potentialCostDistList {
  padding-left: 8px;
}

.potentialCostDistRed{
  color:red;
}

.headingListItem{
  border: 1px solid #000000;
  padding: 2px;
}


@media screen and (max-width: 459px) {
  .header{
    height: 164px;
  }
}
@media screen and (min-width: 300px) and (max-width: 630px) {

  .tableAndSubmitButton {
    margin: 0 auto;
    width: 100%;
  }

  .submitButton{
    position: inherit;
  }

  .percentagesContainer {
    margin-bottom: 15px;
  }

  .percentagesHover {
    position: relative;
    left: -10px;
    margin-bottom: 15px;
  }


}

@media screen and (min-width: 631px) {
  .submitButton {
    position: relative;
    left: -50px
  }

}







